@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    padding: 0px;
    margin: 0px;
    font-style: none;
    color: inherit;
    list-style-type: none;  
    text-decoration: none;    
}

.apresentacao{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-color: #595757;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    
}

.apresentacao h1{
    font-size: 300%;
}

.eventos{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.eventos h1{
    color: #72b5a4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    width: 80%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards .card{
    width: 300px;
    height: auto;
    padding-bottom: 1rem;
    box-shadow: #72b5a4 0px 2px 8px 0px;
}

.cards .card img{
    width: 100%;
}

.cards .card h3{
    font-size: 150%;
    margin-left: 1rem;
    color: #72b5a4;
}

.cards .card p{
    font-size: 80%;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: #595757;
}

.cards .card h4{
    font-size: 120%;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #595757;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

form input{
    width: 50%;
    height: 2rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    text-align: center;
    border-radius: 3px;
}

form input:focus{
    background-color: #ffffff;
    color: #595757;
}